.banner-principal-decorativo
  &-1
    animation: enx 2.8s ease-in-out infinite alternate
    position: absolute
    top: 82%
    right: 55%
  &-2
    animation: enx 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: 
    width: 100%
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes enx
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

.titulo-sexto.color-acento-contenido
  border-left-color: #FF6B00

.color-caja-azul
  color: #dfeefc

.color-blanco
  color: #ffffff

.bloque-color-primario
  background: #FFF59D

.bloque-color-semiprimario
  background:#FFFCDD

.bloque-color-azul
  background: #ebf0fa

.fondo-blanco
  background: #ffffff

.bloque-texto-color-blanco
  color: white !important

.bloque-texto-color-negro
  color: black !important

.texto-color-negro
  color: black !important

.tarjeta-color-azul
  border-color: #1B3F5E
  background: #ffffff

.imagen-izquierda-tarjeta-clausulas
  position: absolute
  top: 15%
  right: 86%
  width: 10%

.bloque-texto-color-clausulas-azul
  background: linear-gradient(180deg, #73b6eb, #2d67af, #22397e);
  position: relative
  //top: 100%
  botton: 20%
  left: 8%
  width: 80%

.bloque-texto-color-clausulas-amarilla
  background: linear-gradient(180deg, #eede96, #ac9a4a, #554a16);
  position: relative
  //top: 100%
  botton: 20%
  left: 8%
  width: 80%

.tarjeta.color-secundario--borde 
  background-color: #fff

.tarjeta.color-acento-botones-neutro
  background-color: #FFFCDD

.text-white i
  color: #FF6B00 !important

.tarjeta--boton
  background-color: #a9a57c


.tarjeta-slide.color-secundario-2 .tarjeta-slide__img
  background-color: #1B3F5E
  opacity: 0.5

.tabs-a__tab 
  display: block
  width: 100%
  text-align: left;
  background-color: #E8E8E8
  padding: 15px 20px
  border-radius: 5px
  color: #111e61
  line-height: 1.2em

.bloque-texto-b i

.bloque-texto-b i

.bloque-texto-b i:last-of-type
  
.bloque-texto-b i:first-of-type

.tarjeta-np