.banner-principal-decorativo
  &-1
    animation: enx 2.8s ease-in-out infinite alternate
    position: absolute
    top: 82%
    right: 55%
  &-2
    animation: enx 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: 
    width: 100%
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes enx
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

.titulo-sexto.color-acento-contenido
  border-left-color: #FF6B00